<!--
	Todo
	- Work in Recipient details
-->

<main id="faxLogs">
	<h1>Fax Logs</h1>

	<table id="fax-log-table" class="table">
		<thead>
			<th>ID</th>
			<th>Num Pages</th>
			<th>Cost</th>
			<th>Direction</th>
			<th>Status</th>
			<th>Type</th>
			<th>Requested At</th>
			<th>Recipients</th>
		</thead>
		<tbody>
			<tr id="loading-row">
				<td colspan="8">Loading...</td>
			</tr>
		</tbody>
	</table>
</div>
