<main id="sendFax">
	<h1>Send a Fax</h1>

	<form enctype="multipart/form-data" id="sendFaxForm">
		<div class="form-group">
			<label for="to">To</label>
			<input id="to" name="to" type="tel" placeholder="+15558675309" class="form-control" required>
		</div>

		<div class="form-group">
			<label>File</label>
			<div class="file-drop" data-target="#faxFile">
				<h3>Drag a file onto this box to upload it.</h3>
				<input id="faxFile" name="file" type="file" required>
			</div>

			<div id="faxFileProgress" hidden="hidden"></div>
		</div>

		<button type="submit" value="Upload" class="btn btn-primary">Send</button>
	</form>
</main>
