body {
	margin-top: 100px;
}

.file-drop {
	box-sizing: border-box;
	padding: 40px;
	border: 3px dashed #5bc0de;
}

.file-drop h3 {
	margin-top: 0;
}

.file-drop.active {
	color: #FFF;
	background: #5bc0de;
}
