<h1 class="page_title">Edit User</h1>

<%= render partial: 'form', locals: {user: @user} %>

<br>

<%= link_to 'Delete', user_path(@user), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
