<% @page_class = 'user-detail-page' %>

<h1 class="page_title">Viewing <%= @user.email %></h1>

<div id="userFaxList" data-user-id="<%= @user.id %>">
  <div>Total sent in the past week: {{ totalSent }}</div>
  <div>Total received in the past week: {{ totalReceived }}</div>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Pages</th>
      <th>Cost</th>
      <th>Direction</th>
      <th>Status</th>
      <th>Type</th>
    </thead>
    <tbody v-if="loading">
      <tr><td>Loading...</td></tr>
    </tbody>
    <tbody v-else-if="empty">
      <tr><td>No faxes to display.</td></tr>
    </tbody>
    <tbody v-else>
      <tr v-for="fax in faxes">
        <td>{{ fax.id }}</td>
        <td>{{ fax.num_pages }}</td>
        <td>{{ faxCost(fax) }}</td>
        <td>{{ faxDirection(fax) }}</td>
        <td v-html="faxStatus(fax)"></td>
        <td>{{ faxType(fax) }}</td>
      </tr>
    </tbody>
  </table>
</div>
