<main id="sendFax">
	<h1>Send a Fax</h1>

	<form enctype="multipart/form-data" id="sendFaxForm">

			<div class="row form-group">
				<label for="to">To</label>
				<input id="to" name="to" type="tel" placeholder="+15558675309" class="form-control" required>
			</div>
			<div class="row form-group">
				<button type="button" id="send-another" class="btn btn-success">Attach Another File</button>
				<button type="submit" value="Upload" class="btn btn-primary">Send Fax</button>
			</div>


		<div id="all-files">
			<div id="file1" class="form-group file-attachments">
				<label class="file-counter">File 1:</label>
				<div class="file-drop" data-target="#faxFile1">
					<h3>Drag a file onto this box to upload it.</h3>
					<input id="faxFile1" name="files[file1]" type="file" required>
				</div>

				<div class="faxFileProgress" hidden="hidden">
				</div>
			</div>
		</div>
	</form>
</main>

